<% include header.ejs %>
   
<div id = "company-image">
    <h1 id='company-title'><%= title %></h1>
</div>
<hr>
<center><h2 class="manufacturer">MOLINBERRY</h2></center>
<div id="posters-wrapper" class="content-padding clearfix"> 
    <% for (var i = 0 ; i < molinberry_flavours.length ; i++) { %>
    <div class="poster">
        <a href = "/molinberry/<%= i %>">
        <img src="/images/<%= molinberry_flavours[i].picture %>" class="img-responsive">
        <p><%= molinberry_flavours[i].title%><p>
        </a>
    </div>
    <% } %>
</div>
<hr>
<center><h2 class="manufacturer">FLAVORAH</h2><center>
<div id="posters-wrapper" class="content-padding clearfix"> 
    <% for (var i = 0 ; i < flavorah_flavours.length ; i++) { %>
    <div class="poster">
        <a href = "/flavorah/<%= i %>">
        <img src="/images/<%= flavorah_flavours[i].picture %>" class="img-responsive">
        <p><%= flavorah_flavours[i].title%><p>
        </a>
    </div>
    <% } %>
</div>

<% include footer.ejs %>

